%form{ :action => '/upload', :method => 'post', :enctype => "multipart/form-data" }
  .choose-picture
    %h2 Upload a picture
    %input#choose-picture{ :type => 'file', :name => 'photo'}
  .color-picker
    %h2 Pick a color
    .controls
      %label.orange.active
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'orange', :checked => 'checked' }
        Green/Orange
      %label.purple
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'purple' }
        Green/Purple
      %label.pink
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'pink' }
        Green/Pink
      %label.blue
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'blue' }
        Green/Blue
  .generate.jumbotron
    %button.btn.btn-primary.btn-large{ :type => 'submit' } Generate your image!
:javascript
  $(function() {
    $('.controls label input[type="radio"]').click(function() {
      $('.controls label').removeClass('active');
      $(this).parent('label').addClass('active');
    });

    $('input#choose-picture').on("change", function () {
      $('div.color-picker').show();
      $('div.generate').show();
    });
  });
