%form{ :action => '/upload', :method => 'post', :enctype => "multipart/form-data" }
  .choose-picture
    %h2 Upload a picture
    %input#choose-picture{ :type => 'file', :name => 'photo'}
  .color-picker
    %h2 Pick a color
    .controls
      %label.orange
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'green-orange', :checked => 'checked' }
        Green/Orange
      %label.purple
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'green-purple' }
        Green/Purple
      %label.pink
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'green-pink' }
        Green/Pink
      %label.blue
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'green-blue' }
        Green/Blue
  .generate.jumbotron
    %button.btn.btn-primary.btn-large{ :type => 'submit' } Generate your image!
:javascript
  $(function() {
    $('.controls label input[type="radio"]').click(function() {
      $('.controls label').removeClass('active');
      $(this).parent('label').addClass('active');
    });
  });
