%form.form-horizontal{ :action => '/upload', :method => 'post', :enctype => "multipart/form-data" }
	%legend Add the campaign logo to your photo
	.control-group
		%label.control-label Photo
		.controls
			%input.input-file{ :type => 'file', :name => 'photo' }
	.control-group
		%label.control-label Color scheme
		.controls
			%label.radio
				%div.logo-preview.green-orange
					%input{ :type => 'radio', :name => 'color_scheme', :value => 'green-orange', :checked => 'checked' }
			%label.radio
				%div.logo-preview.green-purple
					%input{ :type => 'radio', :name => 'color_scheme', :value => 'green-purple' }
			%label.radio
				%div.logo-preview.green-blue
					%input{ :type => 'radio', :name => 'color_scheme', :value => 'green-blue' }
	.form-actions
		%button.btn.btn-primary{ :type => 'submit' } Upload