%form.form-horizontal{ :action => '/upload', :method => 'post', :enctype => "multipart/form-data" }
	%legend Add the campaign logo to your photo
	.control-group
		%label.control-label Photo
		.controls
			%input.input-file{ :type => 'file', :name => 'photo' }
	.control-group
		%label.control-label Color scheme
		.controls
			%label.radio
				%input{ :type => 'radio', :name => 'color_scheme', :value => 1, :checked => 'checked' }
				Green/Orange
			%label.radio
				%input{ :type => 'radio', :name => 'color_scheme', :value => 2 }
				Green/Purple
			%label.radio
				%input{ :type => 'radio', :name => 'color_scheme', :value => 3 }
				Green/Blue
	.form-actions
		%button.btn.btn-primary{ :type => 'submit' } Upload