%form.form-horizontal{ :action => '/upload', :method => 'post', :enctype => "multipart/form-data" }
	%legend Add the campaign logo to your photo
	.control-group
		%label.control-label Photo
		.controls
			%input.input-file{ :type => 'file', :name => 'photo' }
	.form-actions
		%button.btn.btn-primary{ :type => 'submit' } Upload
