%form{ :action => '/upload', :method => 'post', :enctype => "multipart/form-data" }
  .choose-picture
    %label.title{ :for => 'choose-picture' } Upload your picture
    %input#choose-picture{ :type => 'file', :name => 'photo'}
    .editor-canvas
      #seal
      #picture
  .color-picker
    %h2.title Pick your message
    .controls
      %label.pink.active
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'pink', :checked => 'checked' }
        Green/Pink
      %label.purple
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'purple' }
        Green/Purple
      %label.orange
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'orange' }
        Green/Orange
      %label.round-pink
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'pink-round' }
        Round/Pink
  .generate
    %button.btn.btn-primary.btn-large{ :type => 'submit' } Generate your image!
%script{ :type => 'text/javascript', :src => '/javascripts/picture-loader.js' }
%style
  :sass
    .editor-canvas
      position: relative
    #seal
      position: absolute
      bottom: 10px
      right: 10px
      .seal-image
        height: 200px
    #picture
      img
        border: 1px solid #DDD
        min-width: 100%
