!!!
%html
  %head
    %title Israel Loves Iran &mdash; Join the campaign
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
  %body
    .wrapper
      .header
        %img.codepink{:src => '/images/codepink-women-say-no-war-on-iran.jpg' }
        .callout
          %p
            %span step 1
            Select a picture
          %p
            %span step 2
            Choose a color for the message
          %p
            %span step 3
            Share your image with the world!
      = yield
