!!!
%html
  %head
    %title WE LOVE IRAN &mdash; Join the campaign
    %meta{ :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/zepto.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
  %body.pink
    .wrapper
      - if session[:error]
        .alert.alert-error
          = session[:error]
      - if session[:success]
        .alert.alert-success
          = session[:success]
      - session.clear
      .header
        %h1 Iranians, We Love You!
        %img#codepink-banner{ :src => '/images/banners/pink-round.png' }
        .call-to-action
          %p
            In March Israeli graphic designer and teacher Ronny Edri posted a picture of himself and his daughter to facebook with the message:
            %b "Iranians we love you. We will never bomb your country."
            The
            %a{ :href => 'http://www.israelovesiran.com/', :target => '_blank' } campaign
            took off - within hours Iranians sent beautiful images back and messages have been sent from all over the world.
          %p.highlight
            Will you add your picture to the global call for love, not war?
      .editor-instructions
        %img.thumbs{ :src => '/images/thumbs.png' }
        %p
          Create and share your photo using the tool from
          %a.codepink{ :href => 'http://www.codepink.org', :target => '_blank' } CODEPINK
          below and join Alice Walker, Eve Ensler and Gloria Steinem in signing onto a
          %a{ :href => 'http://j.mp/GAxy0I', :target => '_blank' } petition
          to say no to war.
      .image-editor= yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30585435-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
