!!!
%html
  %head
    %title Israel Loves Iran &mdash; Join the campaign
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/zepto.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
  %body
    .wrapper
      - if session[:error]
        .alert.alert-error
          = session[:error]
      - if session[:success]
        .alert.alert-success
          = session[:success]
      - session.clear
      .logo
        %h1 Israel Loves Iran
      = yield
