!!!
%html
  %head
    %title Israel Loves Iran &mdash; Join the campaign
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }

  %body
    .wrapper
      .logo
        %h1 Israel Loves Iran
      = yield
