- if params[:shared]
	.alert.alert-success
		Your picture was posted on your Facebook profile.
.show
	%div
		%img.user-image{ :src => image_url }
	%div
		%a.btn.btn-large.btn-primary{ :href => "/share/#{image_file}" } Share on Facebook