body
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif
  font-size: 14px
  margin: 0
  padding: 0
  .wrapper
    width: 960px
    margin: 0 auto
    text-align: center
fieldset
  border: 0 none
.logo
  margin: 20px auto
  background: url(/images/logo.jpg) no-repeat scroll top left
  width: 300px
  height: 178px
  text-indent: -9999em
.controls
  text-align: center
  label
    background-image: url('/images/thumbs.jpg')
    background-repeat: no-repeat
    background-attachment: scroll
    width: 182px
    height: 108px
    display: inline-block
    cursor: pointer
    color: transparent
    margin: 0 10px 0 0
    opacity: 0.3
    &:hover
      opacity: 0.6
    &.active
      opacity: 1
    input[type='radio']
      visibility: hidden
    &.orange
      background-position: -10px -10px
    &.purple
      background-position: -230px -10px
    &.pink
      background-position: -450px -10px
    &.blue
      background-position: -669px -10px
.generate
  margin-top: 30px
