body
  background: url('/images/i-am-a-background-texture.gif') repeat scroll top left
  font-family: sans-serif
  font-size: 18px
  margin: 0
  padding: 0
  text-align: center
  padding-bottom: 30px
  &.pink, &.pink-round
    border: 5px solid #F09
  &.purple
    border: 5px solid #652d90
  &.orange
    border: 5px solid #f6931e
  .wrapper
    width: 860px
    margin: 0 auto
  a
    color: #F09
    &:hover
      color: #F0A
      text-decoration: underline
    &:active,
    &:focus
      text-decoration: none
      color: #F08
  p
    font-size: 14px
    line-height: 21px

fieldset
  border: 0 none

.header
  padding: 40px 0
  overflow: hidden
  h1
    font-size: 70px
    font-weight: 900
    color: #00B062
    margin-bottom: 30px

#codepink-banner
  float: right

.call-to-action
  float: left
  width: 600px
  padding-top: 18px
  margin-left: 40px
  text-align: center
  p
    font-size: 17px
    line-height: 24px
    color: #555
    text-shadow: #fff 0 1px 0
    &.highlight
      background: #F09
      text-shadow: rgba(0,0,0,.5) 0 -1px 0
      color: white
      padding: 8px
      margin: 0 40px
      font-weight: 900

.editor-instructions
  overflow: hidden
  p
    width: 456px
    float: left
    margin-top: 30px
    font-size: 20px
    line-height: 30px
    clear: left
  img
    float: left
  .flickr-slideshow
    float: right
    width: 350px
    height: 400px

.choose-picture
  margin: 40px 0

.color-picker
  display: none

.controls
  label
    background-image: url('/images/thumbs.jpg')
    background-repeat: no-repeat
    background-attachment: scroll
    width: 182px
    height: 108px
    display: block
    float: left
    cursor: pointer
    color: transparent
    margin: 40px 10px 0 0
    opacity: 0.3
    &:hover
      opacity: 0.6
    &.active
      opacity: 1
    input[type='radio']
      visibility: hidden
    &.orange
      background-position: -10px -10px
    &.purple
      background-position: -230px -10px
    &.pink
      background-position: -450px -10px
    &.round-pink
      background: url(/images/banners/pink-round.png) no-repeat scroll top left
      width: 200px
      height: 200px
      margin-top: 0

.generate
  display: none

// overwrite tw bootstrap colors
.btn-primary
  margin-top: 30px
  background: #00B062
  &:hover,
  &:focus,
  &:active
    background: #00D082

.image-editor
  background: white
  padding: 20px
  margin: 20px 5px
  border: 1px solid #EEE
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px
  -moz-box-shadow: rgba(0,0,0,.4) 0 2px 2px
  -webkit-box-shadow: rgba(0,0,0,.4) 0 2px 2px
  box-shadow: rgba(0,0,0,.4) 0 2px 2px
  .title
    font-size: 30px
    font-weight: 100
    color: #333
    margin-bottom: 20px

.footer
  position: fixed
  bottom: 0
  left: 0
  font-size: 12px
  width: 100%

.thumbs
  float: right

.petition
  margin: 30px 0 0
  background: #FF0099
  &:hover,
  &:focus,
  &:active
    background: #FF0099
